<!DOCTYPE html>
<html lang="en">
<%- include('partials/scripts.ejs') %>

    <body>
        <%- include('partialsDB/productsDBHeader.ejs') %>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <th>Specifications</th>
                                <th>Price</th>
                                <th>OS</th>
                              </tr>
                  
                              <% for(let i=0; i < products.length; i++) { 
                                  const product = products[i]
                              %>
                              <tr>
                                <td><%= product.name %></td>
                                <td><%= product.specs %></td>
                                <td><%= product.price %></td>
                                <td><%= product.os %></td>
                              </tr>
                              <% } %>
                        </table>
                    </div>
                </div>
            </div>
    </body>

</html>